
/*FOOTER*/

footer {
    background:#212529;
    color: white;
    margin-top:0px;
  }
  
  footer a {
    color: #fff;
    font-size: 14px;
    transition-duration: 0.2s;
  }
  
  footer a:hover {
    color: #FA944B;
    text-decoration: none;
  }
  
  .copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
  }
  
  .footer-middle {
    padding-top: 2em;
    color: white;
  }
  
  
  /*SOCİAL İCONS*/
  
  /* footer social icons */
  
  ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
  }
  
  ul.social-network li {
    display: inline;
    margin: 0 5px;
  }

  .footertitle{
      font-size:14px;
      border-bottom: 1px solid #B17B1A;
  }

  .address{
      list-style-type: none;
  }

  footer img{
      width:auto;
      height:70px;
  }

  @media only screen and (max-width: 600px) {
    footer img{
      height:40px;
    }
  }