* {
    margin: 0;
    padding: 0;
  }

  body{
    font-size: 18pt;
    font-weight: 400;
    line-height: 1.65em;
    height:100%;
    font-family: 'Roboto Slab', serif;
    color:#272838;
}



main{
    padding-top: 100px;
  }
  @media (max-width: 980px) {
    main {
      padding-top: 50px;
    }
  }

/* Background */ 

  .background1{
    background:#e1e5ee;
    
            }
  
  .background2{
      background-color: #f9f9f9;
      color:#272838;
      margin:0px !important;
    }
  
  
    .whitebk{
      background:white;
    }
  
    .owl-background{
      background-image: url("../images/owl-watermark_103bf9f645a1520d4702bddc2bd5bb19.png");
      background-repeat: no-repeat, repeat;
      background-size: auto;
      background-position:bottom center;
      background-size: 40% ;
  }


  .box-shadow{
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
    margin:15px;
  }

  

  /* Headers */

  .section-headline h2 {
    display: inline-block;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 70px;
    position: relative;
    text-transform: capitalize;
    font-family:'IBM Plex Mono', monospace;;
    color:#212529;
    padding-top: 50px;
  }
  
  .section-headline h2::after {
    border: 1px solid #333;
    bottom: -20px;
    content: "";
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 40%;
  }
  
  .section-headline-white h2 {
    display: inline-block;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 70px;
    position: relative;
    text-transform: capitalize;
    font-family:'IBM Plex Mono', monospace;;
    color:white;
    padding-top: 50px;
  }
  
  .section-headline-white h2::after {
    border: 1px solid #e1e5ee;
    bottom: -20px;
    content: "";
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 40%;
  }
  
  .content{
      padding-top:100px;
      padding-bottom: 100px;
  
  }

  .text-shadow{
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3)
  }
 

  .map-container {
    overflow: hidden;
    position: relative;
    height: 0;
  }

  .map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  .map-info {
    font-size: 24px;
    line-height: 1.6;
  }


.card{
  border-radius: 20px;
}

.about-images img{
  width:594px;
  height: 395px;
}

.mb-4 {
  margin: 0px !important;
}

.mt-3{
  margin: 0px !important;
}

.p-bubble{
  border-radius: 20px;
  padding:10px;
}


i {
  font-size:40px;
  margin:10px
}


.services-content figure, figcaption, img {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
  border-radius: 20px;
}

.services-content img{
  -webkit-box-shadow: inset 0 1px 5px rgba(0,0,0,.5);
	-moz-box-shadow: inset 0 1px 5px rgba(0,0,0,.5);
  box-shadow: inset 0 1px 5px rgba(0,0,0,.5);
}

.img-responsive {
  width: 598px;
  height:400px;
}

.projects-tab li {
  background: #212529;
}

.projects-tab a {
  color:white;
}

 .projects-tab .nav-link.active{
  background: #686A6E !important;
}

.tab-pane {
  padding-top: 50px;
  padding-bottom: 100px;
}

.project-images img{
width: 100%;
height: 300px
}


.contact-us{
  border-radius: 15px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  margin-bottom:20px;
  padding-bottom:40px;
}

.contact-2-link{
  text-align: center;
  margin-top: 30px;
}

.intro-text{
  width:50%;
}


.hover10 img {
	-webkit-filter: grayscale(0) blur(0);
	filter: grayscale(0) blur(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover10:hover img {
	-webkit-filter: grayscale(100%) blur(3px);
	filter: grayscale(100%) blur(3px);
}


.column#caption {
	position: relative;
}
.column#caption .text {
		position: absolute;		
    top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 10;
    opacity: 0;
    transition: all 0.8s ease;	
    width:100%;		
}

.column#caption .text h1 {		
		margin: 0;		
    color: white;
    font-weight: bolder;
}
.column#caption:hover .text {
	opacity: 1;
	
}




.services-content {
  border-radius: 20px;
  margin:20px !important; 
  overflow: hidden;
  padding:50px;
  box-shadow: 0 5px 10px rgba(154,160,185, .8), 0 15px 40px rgba(166,173,201, .8);
  background:#ebeef4;
}