* {
    margin: 0;
    padding: 0;
  }

  body{
    font-size: 16pt;
    font-weight: 400;
    line-height: 1.65em;
    height:100%;
    font-family: 'Roboto Slab', serif;
    color:#272838;
}



main{
    padding-top: 100px;
  }
  @media (max-width: 980px) {
    main {
      padding-top: 50px;
    }
  }

/* Background */ 

  .background1{
    background:#e1e5ee;
    
            }
  
  .background2{
      background-color: #f9f9f9;
      color:#272838;
      margin:0px !important;
    }
  
  
    .whitebk{
      background:white;
    }
  
    .owl-background{
      background-image: url("../images/owl-watermark_103bf9f645a1520d4702bddc2bd5bb19.png");
      background-repeat: no-repeat, repeat;
      background-size: auto;
      background-position:center;
      background-size: 20% ;
  }


  .box-shadow{
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
    margin:15px;
  }

  

  /* Headers */

  .section-headline h2 {
    display: inline-block;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 70px;
    position: relative;
    text-transform: capitalize;
    font-family:'IBM Plex Mono', monospace;;
    color:#212529;
    padding-top: 50px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  }
  
  .section-headline h2::after {
    border: 1px solid #333;
    bottom: -20px;
    content: "";
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 40%;
  }
  
  .section-headline-white h2 {
    display: inline-block;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 70px;
    position: relative;
    text-transform: capitalize;
    font-family:'IBM Plex Mono', monospace;;
    color:white;
    padding-top: 50px;
  }
  
  .section-headline-white h2::after {
    border: 1px solid #e1e5ee;
    bottom: -20px;
    content: "";
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 40%;
  }
  
  .content{
      padding-top:100px;
      padding-bottom: 100px;
  
  }


 

  .map-container {
    overflow: hidden;
    position: relative;
    height: 0;
  }

  .map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  .map-info {
    font-size: 24px;
    line-height: 1.6;
  }


.card{
  border-radius: 20px;
}

.about-images img{
  width:594px;
  height: 395px;
}

.mb-4 {
  margin: 0px !important;
}

.mt-3{
  margin: 0px !important;
}

.p-bubble{
  border-radius: 20px;
  padding:10px;
}





.services-content figure, figcaption, img {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
  border-radius: 20px;
}

.services-content img{
  -webkit-box-shadow: inset 0 1px 5px rgba(0,0,0,.5);
	-moz-box-shadow: inset 0 1px 5px rgba(0,0,0,.5);
  box-shadow: inset 0 1px 5px rgba(0,0,0,.5);
}

.img-responsive {
  width: 598px;
  height:420px;
}

